<h1>Overview</h1>

<p><em>Last updated:</em> <em>07/05/2019.</em></p>

<br />

<img src="/images/about/about.jpg" width="800" height="565" alt="Economies Past" />

<h2>Background</h2>

<p>Occupational structure (or labour force distribution) refers to the distribution of men, women and children through the labour force. In &#39;low income or underdeveloped economies, most men, women and children typically work in agriculture, in essence because the productivity of labour in agriculture is so low that it is essential for most people to work in agriculture simply to feed the population. As an economy develops a higher proportion of the labour force typically come to work outside agriculture in the secondary and tertiary sectors. Agriculture is part, and in an underdeveloped economy, typically the dominant part, of the primary sector, which also includes forestry, fishing and mining (though this is sometimes included in the secondary sector). The primary sector produces the raw materials which are refined and transformed into finished goods by the secondary sector. The transport and distribution of primary and secondary sector goods is done by the tertiary sector. Other tertiary sector workers provide services required by society whether cafes, restaurants, hospitals, schools or passenger air travel. The secondary sector consists of all those people occupied in making things, in transforming raw materials into semi-finished and finished physical goods. This includes not just people working in factories in the recent past but also: village artisans like blacksmiths, carpenters, millers, tailors, dressmakers, shoemakers, wheelwrights and others producing goods for local use; and those working in more specialised manufacturing jobs producing for distant markets before mechanisation in many rural areas, such as weavers and spinners producing cloth or lock-makers, scythe makers and others in the area that is now Birmingham, whether working in small workshops or in their own homes. The tertiary sector refers to all those working in services. This includes shopkeepers, sales assistants, merchants, wholesalers, innkeepers, domestic servants, laundresses, lawyers, nurses, doctors, secretaries, clerks, teachers and all those working in transportation.</p>

<p>Today, all high income economies are dominated by tertiary sector employment which accounts for more than 70% of the labour force in Europe, Japan and North America. Before the 1980s developed economies typically had both large secondary and large tertiary sectors. Now large secondary sectors are more typical of middle income countries like China, though even in China the tertiary sector now employs more people than the secondary sector and the secondary sector is declining.</p>

<p>Britain was the first society in human history to escape from the constrains of agriculturally-based economies and the inevitable mass poverty, long working hours and high mortality associated with such economies. The escape from agricultural poverty is often termed &#39;industrialisation&#39; or the Industrial Revolution. The world&#39;s first Industrial Revolution took place in Britain, but Britain was soon followed by other parts of North-Western Europe, North America and Japan. Other parts of the world have industrialised to different degrees at very different times. Child labour is as old as human history because no poor society can afford to dispense with the labour of children (or that of the elderly). Shorter working hours, regular holidays, the abolition of child labour and the emergence of retirement for the elderly are all long-term consequences of industrialisation together with longer healthier lives and ever higher levels of material prosperity.</p>

<p>The failure to industrialise, is the cause of the &#39;development-gap&#39; and lies at the heart of &#39;underdevelopment&#39; and &#39;third-world&#39; poverty today. China is the most recent and spectacular example of industrialisation in world history, lifting hundreds of millions of people out of grinding poverty in a few decades. However, it is increasingly clear that industrialisation based on the burning of fossils fuels threatens all our livelihoods and much more, unless ways can be found to shift to &#39;green&#39; technologies.</p>

<h2>The occupational structure of Britain c.1379-1911 research program</h2>

<p>The <a href="https://www.campop.geog.cam.ac.uk/research/occupations/" target="_blank"><strong>Occupational Structure of Britain c.1379-1911</strong></a> research program was begun in 2003 at the University of Cambridge with the intention of collecting as much occupational data as possible for as long a period as possible, with the underlying aim of providing an improved understanding of the world&#39;s first Industrial Revolution. At the time of writing (2019) much has been achieved, mainly with respect to adult male occupations, but much remains to be done with respect to women and children, whose work is much harder to reconstruct from the surviving documentary evidence. How much more we can do will depend on how much research funding we can raise. The figure shown above shows our reconstruction of the main trends in male adult occupational structure. Two key findings may be noted here. First, the period from 1550 to around 1700 was a period of slow but steady structural change in the labour force. For over one hundred years, historians have assumed that the secondary sector share of the labour force increased dramatically from a low base between 1750 and 1850, the period conventionally considered as the Industrial Revolution. Our data shows that this view was fundamentally misplaced. If industrialisation is defined in terms of the shift in the structure of the labour force to the secondary sector, then this process was completed by 1700 when over 30 per cent of adult men were employed in the secondary sector. Of course the output of the secondary sector grew explosively from the last third of the eighteenth century as many industries mechanised, but this process did not require an ever larger share of the labour force in the secondary sector to produce that output, because industrialisation had shifted from a labour intensive path, mainly using traditional technologies, to a technology intensive path using powered machinery. The same effect can be seen in China today which has less than 30 per cent of its labour force in the secondary sector and the share has been declining in recent years. The second major finding is that the tertiary sector was growing in importance across the eighteenth century and that from the nineteenth century the structural change in employment was from agriculture to the tertiary sector. Tertiary sector growth is often assumed to date from the 1950s and perhaps to be insecure or unstable. In fact, the tertiary sector&#39;s share of the labour force has been growing for nearly all of the last three hundred years and all high-income societies are dominated by the service sector.</p>

<h2>The Economies Past website</h2>

<p>This website allows users to create and view maps of occupational structure across England and Wales from 1600-2011 and to zoom in to examine patterns and change at the local level. Note that you can display two maps side by side and that you have the choice either to hold the areas shown in the two maps the same, or to scroll around the two maps independently. It is also possible to switch the data off and show the underlying map base, which may be useful in helping you to recognise where you are on the map. You can explore 13 different sectors and sub-sectors of employment and also the labour force participation rate. All these measures are defined below and the definitions can also be viewed in pop-up windows accessed by clicking on the question mark after the variable names on the right-hand panel of the interactive maps. You can also choose whether to look at adult males (1600-2011); adult females (1851-2011); all adults (1851-2011); female children aged 10-12 (1851-1911); female children aged 13-14 (1851-1911); male children 10-12 (1851-1911) and male children 13-14 (1851-1911).</p>

<p>It is important to stress that when you look at child and female employment patterns in the 1851-1911 period, you should also look at the labour force participation rate (the proportion of the relevant group in the labour market) because large numbers of women and children were not in the labour market, but the shares of men, women and children in each sector and subsector are always expressed as a proportion of all individuals in the population sub-group who were in the labour market. A single example may make this clear. If you look at male children aged 10-12 in agriculture in 1911, you will see many locations where over 50 per cent of male children in the labour force in this age range were in agriculture. However, if you look at the labour force participation rate for male children 10-12 in 1911, you will see that in most areas, less than ten per cent of boys 10-12 were in the labour force &ndash; because, by this date, the vast majority of children of this age were in school. If the labour force participation rate for boys 10-12 in a parish is say 8 per cent and the share of the labour force in agriculture for the same group is 50 per cent, then only 4 per cent of boys in this age range were working in agriculture. All this matters much less when looking at adult males, because reported participation rates between 1851 and 1911 were typically 95 per cent or more.</p>

<h2>Data</h2>

<p>The datasets have been created as part of the <a href="https://www.campop.geog.cam.ac.uk/research/occupations/" target="_blank"><strong>Occupational Structure of Britain c.1379-1911</strong></a> research program. For the period 1600-1785 the data are primarily based on the occupations stated in surviving will and other documents associated with the probate process. All data from 1851-2011 derive from the decennial censuses. Further information on the datasets is provided under the <a href="/acknowledgements/">Acknowledgements</a> page.</p>

<p>We have most data for adult males because adult male occupations were very widely recorded in documentary sources after 1600. Hence you can explore the adult male occupational data via the interactive maps from 1600 to 1911, with 2011 providing a point of contrast with the present. We currently have data on adult female employment only for the period 1851-1911 and 2011. This is because in these periods, female employment was, with some caveats, well recorded by the census. Prior to the census of 1851, quantitative data on female employment is more difficult and more labour intensive (and hence more expensive) to come by. We also have data on children for the period 1851-1911. We cannot yet extend the treatment of children beyond 1911 because the individual census records for 1921 and later remain closed to public access. Prior to 1851 obtaining data on child labour is even more difficult than for adult females. We currently have no high spatial resolution data for Scotland and it is therefore omitted from this website. The underlying research project does have county level data for Scotland for the period 1851-1911. Subject to securing substantial further funding for our research project we hope in due course to add further data on male employment 1600-1800; data on adults and children in 1921; data on women before 1851; and data for Scotland.</p>

<h2>Geographic units</h2>

<p>The main geographical units used in these maps are historical parishes and registration sub-districts. For the period 1600-1785 these parishes were ecclesiastical units with a parish church. There were around 11,400 such units in England and Wales. However, for the probate-derived estimates for the period 1600-1785 the number of observations is not large enough to generate reliable parish level estimates. The site therefore uses registration sub-districts (RSDs) for these estimates. These were nineteenth century administrative units used to report both census outputs and vital statistics (births, marriages and deaths) between 1851 and 1911. There were about 2,200 RSDs, ranging in area from fewer than 30 acres to well over 100,000 acres, and in population size from a few hundred people to 150,000 persons or more. RSDs which were predominantly urban tended to be smaller and more populous, and therefore had higher population densities than rural RSDs. However not all RSDs covered a uniformly urban or uniformly rural area: some contained both part of a town and some of the surrounding area, while others which were mainly countryside included settlements of varying sizes. The number of RSDs varied over time and we have used the RSDs for the year concerned, except for the period 1600-1785 and 2011 when we have used the RSDs as of 1851. In 1710, 1755 and 1785 where we have scattered data for some parishes from parish registers, we have mapped these data at the parish level. Thus the maps for 1710, 1755 and 1785 are a composite of RSDs and parishes, but overwhelmingly RSDs.</p>

<p>For 1851-1911 the census data are available by smaller units, termed census parishes. These were often not the same as the ecclesiastical parishes and there were about 15,000 census parishes. Some parishes and RSDs, especially in growing urban areas, underwent major boundary changes over time, or were subdivided into new units, especially after 1891. At the parish level, we have aggregated some parishes so as to have all the data displayed in the same set of spatial units in all years. This means that some units shown on the maps are not parishes but aggregations of census parishes. The census data for 2011 have been patched into the nineteenth century administrative units.</p>

<p>At all zoom levels, data for 1600-1660 are for registration sub-districts and data for 1710 to 1785 are mainly for RSDs with some parishes (where parish level data is available). For 1851-2011 when you zoom out to see the large areas or whole country, the data are displayed in RSDs. When you zoom further in the units change to parishes.</p>

<p>High-resolution colour PDFs of maps are available on the <a href="/resources/">Resources</a> page. These can be printed out (use a colour printer and set the printer to maximum quality/resolution) and, if possible, print on A3 paper. These maps are at RSD level for 1600-1785 and parish level for 1851-1911.</p>

<p>For the provenance of the boundary data used for this site see the <a href="/acknowledgements/">Acknowledgements</a> page.</p>

<br />
<hr />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	
	$(function() {
		
		// Pre-process the page to add a class to each h3 block, to match the structure given at: https://jqueryui.com/accordion/
		$('body.about #toggle h3').each(function() {
			$(this).prepend ('<i class="fa fa-chevron-circle-right iconrotate"></i> ');
			$(this).nextUntil('h2, h3').wrapAll('<div class="graybox" />');	// See: http://stackoverflow.com/questions/7968303/wrapping-a-series-of-elements-between-two-h2-tags-with-jquery
		});
		
		// Simple toggle, as jQuery Accordion seems not to work; see: http://www.jacklmoore.com/notes/jquery-accordion-tutorial/
		$('body.about #toggle div').hide ();
		$('body.about #toggle h3').click(function(e){
			e.preventDefault();
			$(this).next('div').slideToggle();
	
			if ($('i', this).css('transform') == 'none') {
				$('i', this).css('transform', 'rotate(90deg)');
			} else {
				$('i', this).css('transform', 'none');
			}
		});
	});
	
</script>

<div id="toggle">


<h2>Primary - Labour force share</h2>

<h3 class="P">Primary sector</h3>

<p><em>Information to follow.</em></p>


<h3 class="Ag">The share of the labour force in agriculture</h3>

<p><strong>Data:</strong> We currently have occupational data for: adult males from 1381-2011; adult females from 1851-2011; and children aged 10-12 and 13-14 from 1851-1911.</p>
<p><strong>Definition:</strong> The &#39;labour force&#39; refers to those working (or looking for work) in any sector of the economy. This excludes those engaged in unpaid domestic work (&#39;housewives&#39;), those too old to work and children too young to work or otherwise not working. Our maps show the share of the labour force in agriculture, for each population sub-group (adult males, adult females, boys 13-14, girls 13-14, boys 10-12, and girls 10-12). This is the number of people engaged in agriculture expressed as a percentage of all people with an occupation within each population sub-group. This includes farmers, members of farmers&#39; families working on the farm, agricultural labourers working for farmers, shepherds and farm servants (individuals who lived in farmers&#39; households and received food, somewhere to sleep and a small wage payment in exchange for their work on the farm).</p>
<p><img src="/images/about/ag1.jpg" width="600" height="172" alt="The share of the labour force in agriculture" /></p>
<p><em>Men ploughing, women milling. W.H. Pyne. Microcosm (1808)</em></p>
<p><strong>A warning:</strong> Be aware that if, for instance, our maps show that 40 per cent of the female labour force aged 10-12 worked in agriculture, this does not mean that 40 per cent of all girls aged 10-12 worked in agriculture. This is because many girls of this age were not in the labour force at all (many were in school). This warning applies primarily to women and children whose labour force participation rates, unlike adult men&#39;s, were typically much less than 100 per cent between 1851 and 1911. The maps showing labour force shares for women and children should therefore be compared with the maps of labour force participation rates. <a href="/about/#warning">Read more&hellip;</a></p>
<p><strong>See also:</strong> Labour force participation rate.</p>
<p><strong>Historical overview:</strong> Figure 1 below shows the share of the adult male labour force in agriculture from 1381 to the most recent census in 2011. In the late fourteenth century, approaching 80 per cent of the adult male labour force worked in agriculture. We do not have data on child or female employment for this period but we can assume that the overwhelming majority of women and children old enough to work did so in agriculture. All underdeveloped economies are characterised by a dominance of agriculture. Because the output per worker (productivity) is low, it is necessary for most of the population to work in agriculture simply to provide enough food for the population to eat. The share of the labour force in agriculture is therefore a useful indicator of the level of economic development. Typically, as a society undergoes economic development, the share of the labour force in agriculture declines. Today, in the most developed economies such as in Europe, North America and Japan, it is normal for less than two per cent of the labour force to work in agriculture. In China, a middle-income country, 44 per cent of the labour force worked in agriculture at the time of the last census (2010). In the least developed economies, which are mainly in sub-Saharan Africa, the share of the labour force in agriculture can exceed 80 per cent.</p>
<p><img src="/images/about/ag2.jpg" width="600" height="131" alt="The share of the labour force in agriculture" /></p>
<p><em>Men mowing hay with scythes. W.H. Pyne. Microcosm (1808)</em></p>
<p><img src="/images/about/ag3.png" width="600" height="319" alt="The share of the labour force in agriculture" /></p>
<p>As can be seen from Figure 1, between the mid fourteenth and the early sixteenth century there was a small decline in the share of the adult male labour force in agriculture. Sometime after that, probably around the middle of the sixteenth century, but certainly by the beginning of the seventeenth century, the pace of change quickened. Between 1600 and 1750, the share of adult males in agriculture fell from around 64 per cent to about 41 per cent. The share of the labour force in agriculture fell below 50 per cent towards the end of the seventeenth century. For over one hundred years, historians and others believed that until the Industrial Revolution began in the late eighteenth century, most of the population worked in agriculture and that between 1750 and 1850 there was a dramatic decline in the share of the labour force in agriculture. As a result of our research project, however, we now know that much of the shift out of agriculture in fact took place between 1550 and 1750.</p>
<p>From 1750 through to the early nineteenth century, the share of the adult male labour force in agriculture was remarkably stable. Between 1750 and 1850, the population of England tripled. The rapid growth of population after 1750 was accompanied by rising agricultural prices, suggesting that agriculture was struggling to keep up with the growth in demand for foodstuffs. In the second quarter of the nineteenth century, the downward trend in agriculture&#39;s share of the adult male labour force resumed and continued at a fast rate across the rest of the century. By this date, agricultural imports were increasing but these remained modest until after the mid-century. However, the period after 1815 saw the first use of &#39;off-farm&#39; inputs and the beginning of what has been termed the second agricultural revolution. The massive imports of grains from North America, a consequence of American railroads and Atlantic steam ships lowering long-distance freight costs, really began only in the 1870s. Since 1900, the pace of decline has been slower but more or less continuous and only one per cent of adult males today work in agriculture. Even in the countryside, the farming population is in the minority.</p>
<p><img src="/images/about/ag4.jpg" width="600" height="150" alt="The share of the labour force in agriculture" /></p>
<p><em>Woman milking, man broadcasting seed, men threshing grain. W.H. Pyne. Microcosm (1808)</em></p>
<p><img src="/images/about/ag5.png" width="600" height="359" alt="The share of the labour force in agriculture" /></p>
<p>We have reliable data on adult women&#39;s occupations from 1851 onwards and for child labour (defined here as those under 15) for the period 1851-1911. Figure 2 above shows the changing composition of the agricultural labour force from 1851-1911. Across this period, the agricultural labour force was dominated by adult males who already made up 80 per cent of the agricultural labour force reported in the census at the beginning of the period. The next largest group was adult women, who made up around ten per cent of the labour force reported in the census. However, the available data understate the importance of adult women because large numbers of women worked in agriculture only at peak times, such as during the harvest in the summer or weeding in the spring. Because they did not work regularly across the year, they were not generally reported as agricultural workers in the census. However, we know from data on the number of days worked from other sources that the adult female contribution in 1851 was probably in the range 20-25 per cent. The data in Figure 2 suggest a sharp decline in adult female participation in agriculture between 1861 and 1881. However, this is largely a product of changing census enumeration practices, not real changes on the ground. From 1851-1871, the census office assumed that farmers&#39; wives and daughters not otherwise employed were working on the farm. From the census in 1881 onwards, it was simply assumed that they were not working on the farm, therefore reducing the number of women recorded as working in agriculture.</p>
<p>Boys aged 10-14 made up nearly ten percent of the agricultural labour force in 1851 according to the census data. Girls made up such a small fraction of the reported labour force that they are scarcely visible in Figure 2. As with adult women, substantial numbers of both boys and girls who worked more irregularly in agriculture are not shown here. The decline in the importance of male children, especially those aged 10-12, shown in Figure 2 is real enough and reflects rising school attendances. Provision of schools was mandated by the 1870 Education Act. In 1880, attendance was made compulsory up to the age of ten and in 1893 this was extended to include all children up to age 12. Figure 3 below shows the share of the labour force in each population sub-group employed in agriculture 1851-1911. It is clear that the employment of older boys (aged 13-14) declined over the period at a similar rate to adult males, i.e. as a consequence of the shrinking role of agriculture in the economy. It was children aged 12 and below who were &#39;pulled&#39; out of agriculture by schools. Older boys were &#39;pushed&#39; out by the relative decline of agriculture.</p>
<p><img src="/images/about/ag6.png" width="600" height="405" alt="The share of the labour force in agriculture" /></p>
<p><strong>The commercial context of farming:</strong> It is often thought that in the middle of the eighteenth century, on the eve of the Industrial Revolution, much of the population were subsistence farmers (i.e. focussed mainly on producing their own food). In fact, by this date, the economy was highly commercialised and the vast majority of agriculture was carried out by commercial farmers who employed agricultural labourers to do most of the work and sold most of what they produced. The period between 1600 and 1750 saw significant commercialisation and a long-term shift away from subsistence production, but this was also true of the period from 1350 to 1650. As early as 1600, when 65 per cent of adult males worked in agriculture, it is clear that a substantial proportion of agricultural produce was sold in one form or another. Firstly, the population who were not working in agriculture (35 per cent of adult males worked outside agriculture at this date) needed to purchase most of their food in the market. Secondly, many of those working in agriculture were labourers or farm servants who grew little or no food of their own and needed to acquire it from farmers. For live-in farm servants, food and lodging was the main part of the payment for their work. Money was not changing hands, but the food being fed to servants was part of a market transaction.</p>
<p><img src="/images/about/ag7.jpg" width="600" height="120" alt="The share of the labour force in agriculture" /></p>
<p><em>Market scenes. Note the heavy involvement of women selling foodstuffs (likely farmers&#39; wives). W.H. Pyne. Microcosm (1808)</em></p>
<p>Even in 1381 when our data begin, there must have been significant trade in foodstuffs. Ten per cent of agricultural produce went to the church as tithe (a tax levied by the church) and it is likely that most of this was sold. Also, large farms producing more food than one household could consume were already emerging in the fourteenth century. There would have been no point in having a large farm if it were not possible to market the surplus. At the beginning of the seventeenth century, there were already over four hundred market towns in England and Wales. The sale of agricultural produce was the primary function of their markets.</p>
<p><strong>The nature of work in farming:</strong> One way in which agricultural work differs from other forms of work is in the changing nature of work across the year. This can be seen in the agricultural calendar from a manuscript of Pietro Crescenzi written c. 1306, reproduced below.</p>
<p><img src="/images/about/ag8.png" width="600" height="518" alt="The share of the labour force in agriculture" /></p>
<p>This shows tasks associated with each month of the year from January in the top left to December in the bottom right. Whilst this image derives from northern Italy, aside from the trampling of the grapes in October, it gives a good indication of the range of tasks done on farms in England and Wales across the year. Note the early dominance of male workers in agriculture with the exception of women working in the harvest in July, stacking sheaves in August, and in food processing associated with the slaughter of the pig in December.</p>
<p>Some food processing, such as butter making (pictured below) and cheese making was carried out on farms until the twentieth century and is therefore included in agriculture in our data. Such work was overwhelming done by women, who also dominated milking.</p>
<p><img src="/images/about/ag9.jpg" width="602" height="262" alt="The share of the labour force in agriculture" /></p>
<p><em>Woman cleaning dairy utensils, man watching and woman churning butter. W.H. Pyne. Microcosm (1808)</em></p>
<p>Note that mechanisation, as we would normally think of it, had little impact on farms before the widespread introduction of tractors in the twentieth century, aside from the introduction of steam-powered threshing machines from the early nineteenth century. Steam-powered tractors were used in the late nineteenth century, but horses remained the dominant form of power for ploughing or pulling waggons and carts. However, the Domesday Book records over 5,000 watermills and we can conclude that the milling of grains was both &#39;mechanised&#39; and no longer performed on the farm as early as 1086. In our data, millers are categorised as in the secondary sector (transforming grain into flour). Also, the extensive use in agriculture of oxen and, from the late medieval period, horses could be considered a form of mechanisation and is in sharp contrast to historical practice in most of China or Japan, where the use of animal traction was more limited. The widespread use of animal power must have been critically important in raising the productivity of labour in agriculture and allowing so much labour to be released to the secondary sector between 1550 and 1750.</p>



<h3 class="Mine">Mining</h3>

<p><em>Information to follow.</em></p>


<h2>Secondary - Labour force share</h2>

<h3 class="Sec">Secondary sector</h3>

<p><em>Information to follow.</em></p>


<h3 class="Clo">Clothing</h3>

<p><em>Information to follow.</em></p>


<h3 class="Shoe">Shoemaking</h3>

<p><em>Information to follow.</em></p>


<h3 class="Met">Metal trade</h3>

<p><em>Information to follow.</em></p>


<h3 class="Text">Textiles</h3>

<p><em>Information to follow.</em></p>


<h3 class="Bld">Building and construction</h3>

<p><em>Information to follow.</em></p>


<h2>Tertiary - Labour force share</h2>

<h3 class="T">Tertiary sector</h3>

<p><em>Information to follow.</em></p>


<h3 class="Sel">Dealer and seller</h3>

<p><em>Information to follow.</em></p>


<h3 class="SP">Service and profession</h3>

<p><em>Information to follow.</em></p>


<h3 class="Dom">Domestic service</h3>

<p><em>Information to follow.</em></p>


<h3 class="Tra">Transport</h3>

<p><em>Information to follow.</em></p>


</div>

<hr />

<h2 id="warning">A warning about labour force shares</h2>

<p>This warning applies to each of the variables on labour force shares.</p>
<p>For the period 1851-1911, labour force participation rates for women and children were often much lower than 100 per cent. Maps of female and child labour force shares should therefore always be viewed together with maps of labour force participation rates. Because adult male participation rates were typically over 90 per cent, this is much less important for adult males.</p>
<p>The map for 1851 in the screenshot below shows that there were very large areas of England and Wales where over 50 per cent of boys aged 10-12 who worked did so in agriculture. But, this does not mean that over 50 per cent of all boys aged 10-12 in these areas worked in agriculture, because many boys were not working at all. The map in the second screenshot below shows that over large areas of England and Wales, less than 40 per cent of boys aged 10-12 were in fact working.</p>
<p><img src="/images/about/warning1.png" width="642" height="397" alt="Screenshot" /></p>
<p><img src="/images/about/warning2.png" width="642" height="394" alt="Screenshot" /></p>
<p>Compare boys aged 10-12 in Figures 1 and 2 below. In Figure 1, we can see that in 1851 in England and Wales as a whole, a little over 30 per cent of all boys aged 10-12 who were working, worked in agriculture. In Figure 2, we can see that in 1851 only around 8 per cent of all boys (whether working or not) worked in agriculture.</p>
<p><img src="/images/about/warning3.png" width="600" height="406" alt="Figure 1" /></p>
<p><img src="/images/about/warning4.png" width="600" height="383" alt="Figure 2" /></p>
<p>It should be noted here that the census tended to record only those working 'regularly'. Since many women and children worked in agriculture irregularly, for instance at harvest time, our data will, to some degree, under-report employment in agriculture. There can be little doubt that if we had data on actual employment in, say, August during the grain harvest, we would find substantially higher employment of women and children than is shown here.</p>
